NET "iCLK" LOC = M21;
NET "inHAZ" LOC = AB24;
NET "inOK" LOC = AA24;
NET "inRST" LOC = AE24;
NET "oRED[0]" LOC = H24;
NET "oRED[1]" LOC = D24;
NET "oYELLOW[0]" LOC = L24;
NET "oYELLOW[1]" LOC = L23;
NET "oGREEN[0]" LOC = N24;
NET "oGREEN[1]" LOC = N23;

