//! **************************************************************************
// Written by: Map P.20131013 on Fri Oct 26 17:56:31 2018
//! **************************************************************************

SCHEMATIC START;
COMP "iA" LOCATE = SITE "W19" LEVEL 1;
COMP "iB" LOCATE = SITE "Y24" LEVEL 1;
SCHEMATIC END;

